black==23.7.0
redis==5.0.0
Pillow==10.0.0
loguru==0.7.0
requests==2.31.0
python-dotenv~=1.0.0
cuid2~=2.0.0
nsfw_detector==1.1.1
protobuf==3.20.*
blurhash-python==1.2.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-hub==0.7.0
elasticsearch==8.10.1
boto3==1.28.71
imageio==2.33.0
av==11.0.0
